.addProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #709775;

    .banner {
        text-align: center;
        font-family: "MODERN";
        padding-top: 20px;
        color: var(--primary-button-color);
        text-shadow: 0px 2px 5px black;
        margin-bottom: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        // height: 500px;
        width: 500px;
        border-radius: 20px;
        background-color: #263327;
        padding: 20px 50px;
        margin-inline: 10px;

        label{
            color: white;
            margin-top: 10px;
        }

            input{
                margin-block: 5px;
                padding: 10px 20px;
                border-radius: 20px;
                width: 100%;
                border: none;
                outline: none;
                background-color: #415D43;
                color: white;
            }
            textarea{
                margin-block: 5px;
                padding: 10px 20px;
                border-radius: 20px;
                width: 100%;
                border: none;
                outline: none;
                background-color: #415D43;
                color: white;
                resize: none;
            }
            input::placeholder {
                color: white;
            }
            input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

            .priceContainer{
                display: flex;
                gap: 20px;
            }
            .addProductSelector{
                background-color: #415D43;
                outline: none;
                border: none;
                width: fit-content;
                color: white;
                height: 45px;
                border-radius: 20px;
                margin-block: 5px;
                padding-inline: 10px;
                padding-right: 20px;

                option{
                    margin-top: 200px !important;
                    border: none;
                }
            }
        .productImgae{
            height: 100px;
            width: 150px;
            background-color: #415D43;
            margin-top: 10px;
            border-radius: 20px;
            display: grid;
            place-items: center;
            .uploadIcon{
                font-size: 60px;
                color: #A1CCA5;
            }
            h5{
                color: #A1CCA5;
            }
        }
        .productImgae1,.productImgae2,.productImgae3{
            height: 50px;
            width: 80px;
            background-color: #415D43;
            margin-top: 10px;
            border-radius: 10px;
            display: grid;
            place-items: center;
            .uploadIcon1,.uploadIcon2,.uploadIcon3{
                font-size: 30px;
                color: #A1CCA5;
            }
            p{
                color: #A1CCA5;
            }
        }
        .submit{
            margin-inline: auto;
            border-radius: 20px;
            padding: 8px 50px;
            outline: none;
            border: none;
            margin-top: 20px;
            background-color: var(--primary-button-color);
        }
    }
}
.icon{
    height: 80px;
    width: 80px;
    background-color: #9bf900;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    .plus{
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .addProduct{
        .container{
            padding: 20px 20px  ;
        .productImgae1,.productImgae2,.productImgae3{
            width: 60px;
        }
        }
    }
}
@media only screen and (max-width: 400px) {
    .addProduct{
        .container{
            .productImgae{
                width: 100px;


                .uploadIcon{
                    font-size: 40px;
                    color: #A1CCA5;
                }
                h5{
                    color: #A1CCA5;
                    font-size: 12px;
                }
            }
        }
    }
}