.wallPart{
    // height: 70vh;
    width: 100%;
    aspect-ratio: 16/9;
    // height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease;
    position: relative;

    
    #myVideo {
    // background-attachment: fixed;
    z-index: -1;
    // animation: anime 1s infinite;
    background-image: url(../../assets/wallwall.jpeg);
    background-position-y: -100px;
    transition: ease;
    // overflow: hidden;
    aspect-ratio: 16/9;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
  }
  .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;

    h1{
        color: var(--primary-button-color);
        font-size: 70px;
        text-shadow: 0px 2px 10px black;
        font-family: 'MODERN';
        white-space: nowrap;
      }
      p{
        text-align: center;
        color: white;
        text-shadow: 0px 2px 10px black;
        // font-size: 20px;
        // color: var( --text-color);
    }
    button{
        margin-inline: auto;
                padding: 10px 20px ;
                outline: none;
                border-radius: 20px;
                border: none;
                color: var(--primary-button-color);
                background-color: black;

      &:hover{
        background-color: var(--primary-button-color);
        color: black;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .wallPart{
    .txt{
      h1{
        font-size: 50px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .wallPart{
    .txt{
      h1{
        font-size: 40px;
      }
      p{
        font-size: 12px;
      }
      button{
        padding: 5px 10px;
        font-size: 10px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .wallPart{
    .txt{
      top: 40%;
      h1{
        font-size: 30px;
      }
      p{
        font-size: 10px;
      }
      button{
        padding: 5px 10px;
        font-size: 10px;
      }
    }
  }
}