.myOrdersComp {

    flex: 3;
    display: flex;
    flex-direction: column;

    .personalInfo {
        h3 {
            padding: 20px 50px;
            margin-block: auto;
            margin-left: 20px;
            font-family: "MODERN";
            color: var(--primary-button-color);
            text-shadow: 2px 2px 5px black;
        }
    }

    .rightContainer {
        // background-color: #263427;
        height: calc(100vh - 150px);
        width: 90%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        border-radius: 20px;

        .orderContainer {
            width: 100%;
            overflow-y: scroll;

            .singleOrder {
                display: flex;
                width: 100%;
                justify-content: space-between;
                // align-items: center;
                padding: 20px;
                background-color: #415D43;
                border-radius: 10px;
                gap: 20px;
                margin-top: 10px;
                // border: 2px solid red;

                .singleOrdersLeftPart {
                    width: 500px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #709775;
                    //    gap: 20px;
                    margin-bottom: 10px;
                    padding: 10px;
                    border-radius: 10px;

                    .orderProductNameNImg {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                }

                .singleOrdersRightPart {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    height: fit-content;

                    .statusNdelete {

                        height: fit-content;
                        padding: 0px 15px;
                        border-radius: 30px;
                        color: white;

                        h5 {
                            margin-top: 5px;
                        }
                    }

                    .deleteBtnBox {
                        width: 10%;
                        display: grid;
                        place-items: center;

                        .productDelete {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background-color: var(--primary-button-color);
                            border: none;
                            outline: none;

                            .deleteIcon {
                                font-size: 20px;
                            }
                        }

                        .productDelete:hover {
                            background-color: rgba(0, 0, 0, 0.8);
                            color: var(--primary-button-color);
                        }
                    }
                    .popover{
                        display: none;
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--background-color) !important;
            width: 20px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #E2b144;
            border-radius: 10px;
            border: 10px solid var(--background-color);
            border-radius: 20px;

        }

        ::-webkit-scrollbar {
            border: 1px;
            width: 30px;
        }
    }
}

.deleteConfirmbox {
    background-color: #A1CCA5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

   

    .imgBox {
        display: flex;
        justify-content: center;

        .confirmGif {
            height: 250px;
        }
    }

    .btns {
        .deleteBtn {
            float: right;
            background-color: var(--primary-button-color);
            margin: 10px;
            padding: 8px 15px;
            border-radius: 20px;
            border: 1px solid black;
            outline: none;
        }

        .cancelBtn {
            float: right;
            background-color: rgba(0, 0, 0, 0.8);
            color: var(--primary-button-color);
            margin: 10px;
            padding: 8px 15px;
            border-radius: 20px;
            outline: none;
            border: 1px solid black;

        }
    }
}

@media only screen and (max-width: 1100px) {
    .myOrdersComp {
        .rightContainer {
            .orderContainer {
                .singleOrder {
                    .singleOrdersRightPart {
                        .statusNdelete {
                            display: none;
                        }

                        .deleteBtnBox {
                            display: none;
                        }
                        .popover{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .myOrdersComp {
        .rightContainer {
            .orderContainer {
                .singleOrder {
                    .singleOrdersLeftPart {
                        width: 400px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .myOrdersComp {
        .rightContainer {
            padding: 0px;
            background-color: var(--background-color);

            .orderContainer {
                .singleOrder {
                    .singleOrdersLeftPart {
                        width: 350px;
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }

    }
}

@media only screen and (max-width: 500px) {
    .myOrdersComp {
        .rightContainer {
            .orderContainer {
                .singleOrder {
                    .singleOrdersLeftPart {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .myOrdersComp {
        .rightContainer {
            .orderContainer {
                .singleOrder {
                    .singleOrdersLeftPart {
                        width: 250px;
                    }
                }
            }
        }
    }
}